<div class="container-fluid bg-secondary">
  <div class="row justify-content-center py-4">
    <div class="card col-md-4 m-2" style="max-width: 25rem;">
      <img class="card-img-top my-2" src="./image/MgJOxYZBSOa0uAC-DmJdkQ.jpeg" alt="イメージ写真" />
        <div class="card-body">
          <h4 class="card-title">2020/01/01</h4>
          <label for="card-subtitle">投稿者：</label>
          <p　class="card-subtitle" id="card-subtitle">
            テキストテキスト
          </p>
          <a href="content.html">
            <div class="btn btn-primary">詳しく見る</div>
          </a>
        </div>
    </div>
    <div class="card col-md-4 m-2" style="max-width: 25rem;">
      <img class="card-img-top my-2" src="./image/MgJOxYZBSOa0uAC-DmJdkQ.jpeg" alt="イメージ写真" />
      <div class="card-body">
        <h4 class="card-title">2020/01/01</h4>
        <label for="card-subtitle">投稿者：</label>
        <p　class="card-subtitle" id="card-subtitle">
                    テキストテキスト
                  </p>
        <a href="content.html">
          <div class="btn btn-primary">詳しく見る</div>
        </a>
      </div>
    </div>
    <div class="card col-md-4 m-2" style="max-width: 25rem;">
      <img class="card-img-top my-2" src="./image/MgJOxYZBSOa0uAC-DmJdkQ.jpeg" alt="イメージ写真" />
      <div class="card-body">
        <h4 class="card-title">2020/01/01</h4>
        <label for="card-subtitle">投稿者：</label>
        <p　class="card-subtitle" id="card-subtitle">
                    テキストテキスト
                  </p>
        <a href="content.html">
          <div class="btn btn-primary">詳しく見る</div>
        </a>
      </div>
    </div>
  </div>
</div>