  <header>
    <div class="content-top" style="background: url(/image/backimg.jpg)no-repeat center; background-size: cover;">
      <h1 class="content-text">yyyy/mm/ddのアルバム</h1>
    </div>

  </header>
  <main class="content-main">
    <div class="main-container">
      <form>
        <input type="checkbox" name="#" value="1" id="photo01">
        <img id="photo01" class="content-img" src="/image/test1.jpeg" alt="">
        <input type="checkbox" name="#" value="1" id="photo01">
        <img id="photo01" class="content-img" src="/image/test1.jpeg" alt="">
        <input type="checkbox" name="#" value="1" id="photo01">
        <img id="photo01" class="content-img" src="/image/test1.jpeg" alt="">
        <input type="checkbox" name="#" value="1" id="photo01">
        <img id="photo01" class="content-img" src="/image/test1.jpeg" alt="">
      </form>
      <a href="#">
        <p class="delete-btn">削除</p>
      </a>


  </main>