<header class="index-header">
  <div class="bg-img" style="background: url(/image/backimg.jpg)no-repeat center; background-size: cover; background-attachment: fixed;">
    <div class="top-box">
      <h1 class="top-text">Share House Pictures.</h1>
    </div>
  </div>
</header>


<main class="index-main">
  <% @photos.each do |photo| %>
    <a href= <%= photo_path(photo.label) %> class="article">
      <div class="article-img" style="background: background-size: cover;">
        <%= image_tag  photo.image, background: "no-repeat center" %>
      </div>
      <div class="text-box">
        <p class="days"><%= photo.created_at.strftime("%Y/%m/%d") %></p>
      </div>
    </a>
  <% end %>
</main>