<header class="index-header">
  <div class="bg-img" style="background: url(/image/backimg.jpg)no-repeat center; background-size: cover; background-attachment: fixed;">
    <div class="top-box">
      <h1 class="top-text">Share House Pictures.</h1>
    </div>
  </div>
</header>


<main class="index-main">
  <a href="#" class="article">
    <div class="article-img" style="background: url(/image/test1.jpeg)no-repeat center; background-size: cover;">
    </div>
    <div class="text-box">
      <p class="days">yyyy/mm/dd</p>
    </div>
  </a>
  <a href="#" class="article">
    <div class="article-img" style="background: url(/image/test1.jpeg)no-repeat center; background-size: cover;">
    </div>
    <div class="text-box">
      <p class="days">yyyy/mm/dd</p>
    </div>
  </a>
</main>