<header class="index-header">
  <div class="bg-img" style="background: url(/image/backimg.jpg)no-repeat center; background-size: cover; background-attachment: fixed;">
    <div class="top-box">
      <h1 class="top-text">Share House Pictures.</h1>
        <%= form_with model: @photo, local: true do |f| %>
          <%= f.text_area :name, placeholder: "投稿者名" %><br>
          <%= f.file_field :image %><br>
          <%= f.submit '写真保存'%>
        <% end %>

      <!--　一応コード保存
      <form class="form-box" action="cgi-bin/formmail.cgi" method="post">
        <div class="cp_iptxt">
          <label class="ef">
            <input type="name" placeholder="投稿者名">
          </label>
        </div>
        <div class="fileUploder">
          <input type="text" class="txt" readonly>
          <button class="btn">参照</button>
          <input type="file" class="uploader">
        </div>
        <input type="submit">
      </form>
      -->

    </div>
  </div>
</header>
