<header class="index-header">
  <div class="bg-img" style="background: url(/image/backimg.jpg)no-repeat center; background-size: cover; background-attachment: fixed;">
    <div class="top-box">
      <h1 class="top-text">Share House Pictures.</h1>
        <%= form_with model: @photo, local: true do |f| %>
          <%= f.text_area :name, placeholder: "投稿者名" %><br>
          <%= f.file_field :image %><br>
          <%= f.submit '写真保存'%>
        <% end %>
    </div>
  </div>
</header>

