<div class="container-fluid bg-secondary py-4">
	<div class="row justify-content-center">
		<div class="col-6">
			<div class="cover-text text-center pb-5">
				<h1 class="text-light">写真登録</h1>
			</div>
		</div>
	</div>
	
<%= render partial: 'form' %>

</div>