<header>
  <div class="content-top" style="background: url(/image/backimg.jpg)no-repeat center; background-size: cover;">
    <h1 class="content-text"><%= @time %>のアルバム</h1>
  </div>
</header>

<main class="content-main">
  <div class="main-container">
    <% @photos.each do |photo|%>
      <%= image_tag  photo.image, class: "content-img" %>
    <% end %>
    <a href="delete_content.html">
      <p class="delete-btn">削除画面</p>
    </a>
    <a href="add_picture.html">
      <p class="fixed-btn-blue">+</p>
    </a>
</main>