<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title>シェアハウス内画像共有アプリ</title>
</head>

<body class="bg-dark">
  <header class="index-header">
    <div class="bg-img" style="background: url(/image/backimg.jpg)no-repeat center; background-size: cover; background-attachment: fixed;">
      <div class="top-box">
        <h1 class="top-text">Share House Pictures.</h1>
      </div>
    </div>
  </header>

  <%= yield %>

  <footer class="footer">
    <p>テキストテキスト</p>
  </footer>

</body>

</html>